@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
  }

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 140px;
  text-align: center;
  color: rgba(255,255,255,0.9);
  padding-top: 5%;
  margin:0;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  text-align: center;
  color: rgba(255,255,255,0.6);
  margin-top:0;
}
body {
    counter-reset: horizontalnumber;
    background: linear-gradient(#e66465, #9198e5);
}

#particles-js {
  height: 100%;
  
}
/* ----- ICONS ----- */
#icons {
  text-align: center;
}
#icons i {
  font-size: 70px;
  color:white;
  padding: 15px;
  margin: 10px;
  border-radius: 50px;
  border: 2px dotted transparent;
  transition: 0.2s ease-in-out;
  width: 70px;
}
#icons i:hover {
  border: 2px dotted black;
  color: black;
}
/*   background: linear-gradient(90deg, rgba(150,48,30,1) 0%,rgba(199,201,88,1) 10%,rgba(28,147,46,1) 20%,rgba(74,165,168,1) 30%,rgba(89,90,165,1) 40%,rgba(84,16,67,1) 50%,rgba(28,58,63,1) 60%,rgba(82,175,183,1) 70%,rgba(78,170,76,1) 80%,rgba(150,48,30,1) 90%,rgba(199,201,88,1) 100%);
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;} */
/* ----- CODE ----- */
/* top */
#titlewindow {

}
/* content */

.codewindow {
  background: black;
  border-radius: 10px;
  width: 70%;
  position: absolute;
  transform: translate(20%, 30%);
  padding: 5px;
  padding-top: 30px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
.topwindow {
  width: 100%;
  height: 20px;
  background-image: linear-gradient(#515151, #2b2b2b);
  position: absolute;
  left: 0;
  top: 0;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.codewindow span {
  color:white;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}
.codewindow .numberwindow span::before {
  counter-increment: horizontalnumber;
  content: counter(horizontalnumber);
}
.numberwindow {
  float: left;
  width: 20px;
  padding: 0 10px;
}
.dot span {
  color: black!important;
  font-size: 12px!important;
  text-align: center;
  height: 13px;
  line-height: 1;
  top: 3;
  width: 13px;
  border-radius: 50px;
  position: absolute;
}
/* linux button */
.dot .red {
  right: 5;
  background-image: linear-gradient(#cc5226, #c13603);
}
.dot .grey:first-child {
  right: 40;
  background-image: linear-gradient(#777676, #5e5c5c);
}
.topwindow .dot .grey:nth-child(2) {
  right: 22;
  background-image: linear-gradient(#777676, #5e5c5c);
}
#content {
  height: 400px;
  overflow: auto;
}
/* ----- CODE COLOR ----- */
.codewindow .comment {
  color: #0E7E29;
}
.codewindow .main {
  padding-left: 40px;
}
.codewindow .sub.section {
  color: #5C87BA;
}
.codewindow .section {
  padding-left: 80px;
}
.codewindow .key {
  color: #95DEE3;
  padding-left: 120px;
}
.codewindow .number {
  color: #AED49D;
}
.codewindow .sentence {
  color : #D88B78;
}

@media screen (max-width: 370px) {

  .codewindow {
    transform: translateY(10%);
  }
  .codewindow span {
    font-size: 24px;
  }
  #content {
    height: 500px;
  }
}
