@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
  }

body {
    counter-reset: horizontalnumber;
    background: linear-gradient(#e66465, #9198e5);
}

#particles-js {
  height: 100%;
  
}
/* ----- CODE ----- */
/* top */
#titlewindow {

}
/* content */

.codewindow {
  background: black;
  border-radius: 10px;
  height: 400px;
  width: 70%;
  position: absolute;
  transform: translate(20%, 60%);
  padding: 5px;
  padding-top: 30px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
.topwindow {
  width: 100%;
  height: 20px;
  background-image: linear-gradient(#515151, #2b2b2b);
  position: absolute;
  left: 0;
  top: 0;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.codewindow span {
  color:white;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}
.codewindow .numberwindow span::before {
  counter-increment: horizontalnumber;
  content: counter(horizontalnumber);
}
.numberwindow {
  float: left;
  width: 20px;
  padding: 0 10px;
}

.dot span {
  color: black!important;
  font-size: 12px!important;
  text-align: center;
  line-height: 0.9;
  height: 13px;
  top: 3;
  width: 13px;
  border-radius: 50px;
  position: absolute;
}
/* linux button */
.dot .red {
  right: 5;
  background-image: linear-gradient(#cc5226, #c13603);
}
.dot .grey:first-child {
  right: 40;
  background-image: linear-gradient(#777676, #5e5c5c);
}
.topwindow .dot .grey:nth-child(2) {
  right: 22;
  background-image: linear-gradient(#777676, #5e5c5c);
}
#infoswindow {
  height: 400px;
  overflow: auto;
}
/* ----- CODE COLOR ----- */
.codewindow .sub.section {
  color: #5C87BA;
}
.codewindow .section {
  margin-left: 40px;
}
.codewindow .key {
  color: #95DEE3;
  margin-left: 80px;
}
.codewindow .number {
  color: #AED49D;
}
.codewindow .sentence {
  color : #D88B78;
}